.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.image {
  height: 300px;
  width: 300px;
}
.button {
  padding: 5px;
  background: green;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.root {
  height:100%;
}